.DS_Store
.idea/
notebooks/.ipynb_checkpoints/
analysis/__pycache__/
package/__pychache__/
package/datasets/__pycache__/
package/__pycache__/
echo package/college_scorecard/__pycache__/
cda/__pycache__/
cda/college_scorecard/__pycache__/
CDA.egg-info/
build/
dist/
